---
interface Props {
  totalPages: number;
}

const { totalPages } = Astro.props;

const url = Astro.url;
const pageParam = Number(url.searchParams.get("page") ?? 1);

const currentPage = Math.max(
  pageParam > totalPages ? totalPages : pageParam,
  1,
);

const path = url.pathname;
---

<div class="flex justify-between my-28">
  <a
    href={`${path}?page=${Math.max(currentPage - 1, 1)}`}
    class="bg-slate-900/90 text-slate-100 px-4 py-2 rounded-lg"
  >
    Previous
  </a>

  <span>page {pageParam} of {totalPages}</span>

  <a
    href={`${path}?page=${Math.min(currentPage + 1, totalPages)}`}
    class="bg-slate-900/90 text-slate-100 px-4 py-2 rounded-lg"
  >
    Next
  </a>
</div>
