---
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

export const prerender = false;
---

<Layout>
	<h1 class="text-3xl font-bold">astro Store</h1>

	<h1>User logged info</h1>
	{
		session ? (
			<div>
				<pre>{JSON.stringify(session, null, 2)}</pre>
			</div>
		) : (
			<h2>Whitout authentication</h2>
		)
	}
</Layout>
