---
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";

const { data: products, error } = await Astro.callAction(
	actions.getProductByPage,
	{},
);

if (error) {
	return Astro.redirect("/");
}

console.log(products);

export const prerender = false;
---

<Layout>
	<div class="container pt-10 pb-10">
		<h1 class="text-3xl font-bold">Astro Page</h1>
	</div>
</Layout>
