---
import FloatNavBar from "@/components/shared/FloatNavBar.astro";
import Footer from "@/components/shared/Footer.astro";
import "@/assets/styles/global.css";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- <NavBar2 /> -->
		<FloatNavBar />
		<main class="min-h-screen max-w-6xl m-auto px-4 mt-10">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script src="../../node_modules/preline/preline.js"></script>
